.btn-mente {
	margin: 0px;
}

#activitie-title {
	font-size: 2em;
	text-align: left;
	margin-top: 20px;
}

#activitie-points {
	font-size: 2em;
	text-align: center;
}

#tab-question {
	font-size: 3em;
	text-align: center;
}

@media (max-width: 767px) {
	#activitie-points {
		font-size: 1em;
	}

	#tab-question {
		margin-top: 0px;
	}

	.progress {
		margin: 0px;
	}
}