.btn-mente {
	margin: 0px;
}

#activitie-title {
	font-size: 2em;
	text-align: left;
	margin-top: 20px;
}

#activitie-points {
	font-size: 2em;
	text-align: center;
}

#tab-question {
	font-size: 2em;
	text-align: center;
}

.question-row{
	border-style:solid;
	border-color:gray;
}
.question-response-row{
	border-style:solid;
	border-color:#333333;
	height: 1.5em;
}

.question-response-row.correct {
	border-color:#31708F;
}

.question-response-row.null {
	cursor: pointer;
}

.question-response-row.null:hover {
	background-color: rgba(0,0,0,0.1);
}

@media (max-width: 767px) {
	#activitie-points {
		font-size: 1em;
	}

	#tab-question {
		margin-top: 0px;
		padding-right: 0px;
		font-size: 1.6em;
	}

	.progress {
		margin: 0px;
	}
}