/*GLOBAL*/
body {

}
/*===============================================================*/

/*TABS*/


/*===TAB: PROFILE*/
#tab-profile {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: rgba(70,100,140,1);
	color: white;
}
#profile-photo {
	margin: 0px auto;
	width: 135px;
	height: 120px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}
#profile-name {
	margin: 0px auto;
	font-size: 1.3em;
	width: 135px;
}
#profile-points {
	margin: 0px auto;
	font-size: 1.2em;
	width: 135px;
}
#profile-achievements {
	margin: 0px auto;
	font-size: 1.2em;
	width: 135px;
}

/*===END TAB: PROFILE*/

/*===TAB: ACTIVITIES*/
#activities-title {
	font-size: 1.4em;
	text-align: center;
}
.tab-activities {
	border-style: solid;
	margin-top: -3px;
	font-size: 1.7em;
	cursor: pointer;
}
.tab-activities:hover {
	background-color: rgba(50, 70, 90, 0.1);
}
.tab-sub-activities {
	border-style: solid;
	margin-top: -3px;
	font-size: 1.4em;
	padding-left: 70px;
	cursor: pointer;
	background-color: rgba(50, 70, 90, 0.05);
	padding-top: 5px;
	padding-bottom: 5px;
}
.tab-sub-activities:hover {
	background-color: rgba(50, 70, 90, 0.2);
}
.tab-sub-activities-group {
	display: none;
}
.activetie-points {
	text-align: right;
}
/*===END TAB: ACTIVITIES*/

/*TAB: RANKING*/
#ranking-title {
	font-size: 1.4em;
	text-align: center;
}
/*END TAB: RANKING*/

/*TAB: ACHIEVEMENTS*/
#achievements-title {
	font-size: 1.4em;
	text-align: center;
}

.achievement-icon {
	font-size: 3em;
	border-radius: 100%;
	border-style: solid;
	padding: 3px;
	cursor: pointer;
	opacity: 0.5;
	width: 60px;
	height: 55px;
}
.achievement-icon.have {
	opacity: 0.8;
}
.achievement-icon:hover {
	opacity: 1;
}
/*END TAB: ACHIEVEMENTS*/

/*TAB: EXIT*/
#btn-exit {
	margin: 0px;
}
/*END TAB: EXIT*/

/*MODAL ACHIEVEMENTS*/
.modal-achievement-have {
	font-size: 1.8em;
	text-align: center;
	color: rgba(70, 180, 70, 0.9);
	background-color: rgba(0,0,0,0.05);
	display: none;
}
.modal-achievement-nohave {
	font-size: 1.8em;
	text-align: center;
	color: rgba(245, 70, 70, 0.6);
	background-color: rgba(0,0,0,0.05);
	display: none;
}
/*END MODAL ACHIEVEMENTS*/

/*MODAL ACTIVITIES*/

.modal-activities-noEnergy {
	font-size: 1.8em;
	text-align: center;
	color: rgba(245, 70, 70, 0.6);
	background-color: rgba(0,0,0,0.05);
	display: none;
}
.modal-activities-noPoints {
	font-size: 1.8em;
	text-align: center;
	color: rgba(245, 70, 70, 0.6);
	background-color: rgba(50,50,50,0.05);
	display: none;
}
/*END MODAL ACTIVITIES*/
/*===============================================================*/
