body {
	background-color: black;
	background: url("../../_images/_content/login-background.jpg");
}

video {
	bottom: 0;
	height: auto;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	opacity: .8;
	position: fixed;
	transform: translate(-50%, 0%);
	width: auto;
	z-index: -100;
}

.title {
	font-size: 7em;
	text-align: center;
	color: white;
	opacity: 0.8;
	font-family: 'Fredericka the Great', cursive;
}

.sub-title {
	font-size: 2.2em;
	text-align: center;
	color: white;
	opacity: 0.7;
	font-family: 'Dancing Script', cursive;
}

.login-form {
	background-color: white;
	border-color: black;
	border-width: 2px;
	border-style: solid;
	padding: 10px;
}

.btn-facebook {
	background-color: rgba(59, 89, 152, 0.3);
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.33;
	border-radius: 6px;
	border-style: solid;
}

.btn-facebook:hover {
	background-color: rgba(59, 89, 152, 0.5);
}
